# dependencies
node_modules/
.pnpm/

# production
dist/
build/

# misc
.DS_Store
.env
.env.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs
.vscode/
.idea/

# Storybook (만약 나중에 도입한다면)
storybook-static/

# VSCode settings (optional)
*.code-workspace

# Optional cache
.cache/
